manage: 
  - apache
  - build
  - munin::server
  - nagios::server
  - puppetmaster
  - users::build

default:
  - firewall
  - puppet
  - mail
  - munin::node
  - nagios::client
  - net
  - repos
  - runit
  - ssh
  - time
  - users
